.slide-out-div{padding:15px 20px;width:400px;background:#FFF;border:1px solid #000}.slide-out-div > a{top:-3px}.wper-contact-form-title{font-size:12px;line-height:20px;font-weight:400}.wper-contact-form-content p{margin:3px 0}.wper-contact-form-content input[type=text]{width:250px}.wper-contact-form-content textarea{width:250px;height:50px}


